body {
    font-size: 32px;
}

.container {
    width: 20em;
    align-content: center;
}

#board {
    width: 11em;
    height: 11em;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 1.1em;
    height: 1.1em;
    background-color: lightgray;
    text-align: center;
}

#haveKey {
    width: 1.1em;
    height: 1.1em;
    text-align: center;
}

#messages {
    font-size: 32px;
    color: red;
    font-weight: bold;
    border: 2px solid black;
}